= content_for :content do
  .with-sidebars.row-fluid
    / Left menu - store select, filters
    .content-left.span2
      .scroll
        = render :partial => 'partials/left-side'

    / Content
    .content-main.span7
      = content_for?(:main) ? yield(:main) : yield

    /  Right menu
    .content-right.span3
      .scroll
        = render :partial => 'partials/right-side'




= render :template => 'layouts/application'