= content_for :head do
  = stylesheet_link_tag :application

= content_for :bottom do
  = javascript_include_tag :application
  :javascript
    // Init Sap Application
    var data = {
      order     : #{@order.to_json},
      stores    : #{@stores.to_json},
      categories: #{@categories.to_json}
    };

    //Sap.initialize(data);

= content_for :base_content do
  #how-to
  #wrap
    #main
      / Logo, menu, user
      = render :partial => 'partials/navigation'


      / Show flash message
      #notice
      /- display_flash_message

      / Content
      #wrapper.container-fluid
        = content_for?(:content) ? yield(:content) : yield


  = render :partial => 'partials/footer'

= render :template => 'layouts/base'