= content_for :content do
  .with-sidebars.row-fluid
    / Left menu - store select, filters
    .content-left
      = render :partial => 'partials/left-side'

    /  Right menu
    .content-right
      .scroll
        = render :partial => 'partials/right-side'

    / Content
    .content-main
      = content_for?(:main) ? yield(:main) : yield

= render :template => 'layouts/application'