!!!
%html

  %head
    %title Globomarket
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    = yield :head

    / Add development styles
    - if Rails.env == "development"
      = stylesheet_link_tag "common/development"

    = csrf_meta_tag


  %body{:class => content_for?(:body_class) ? yield(:body_class) : 'market'}
    = content_for?(:base_content) ? yield(:base_content) : yield

    / JS Files anf page script
    .js-scripts
      = yield :bottom # Include js-files
      = yield :js     # Page scripts